/* Import */
@font-face {
	font-family: "Helvetica Neue"; 
	src: 
	url("../fonts/HelveticaNeue.eot") format("embedded-opentype"),
	url("../fonts/HelveticaNeue.woff") format("woff"), 
	url("../fonts/HelveticaNeue.svg") format("svg"),
	url("../fonts/HelveticaNeue.ttf") format("truetype"); 
	font-style: normal; 
	font-weight: normal; 
}
@font-face {
	font-family: "Helvetica Neue"; 
	src: 
	url("../fonts/HelveticaNeue-Medium.eot") format("embedded-opentype"),
	url("../fonts/HelveticaNeue-Medium.woff") format("woff"), 
	url("../fonts/HelveticaNeue-Medium.svg") format("svg"),
	url("../fonts/HelveticaNeue-Medium.ttf") format("truetype"); 
	font-style: normal; 
	font-weight: 500; 
}
@font-face {
	font-family: "Helvetica Neue"; 
	src: 
	url("../fonts/HelveticaNeue-Bold.eot") format("embedded-opentype"),
	url("../fonts/HelveticaNeue-Bold.woff") format("woff"), 
	url("../fonts/HelveticaNeue-Bold.svg") format("svg"),
	url("../fonts/HelveticaNeue-Bold.ttf") format("truetype"); 
	font-style: normal; 
	font-weight: 700; 
}
@import 'nullstyle';
$max_width: 1920;
$contained_width: $max_width - 270 * 2;
@mixin relative-font($pcSize, $mobSize) {
	$addSize: $pcSize - $mobSize;
	$max_width: $max_width - 320;
	font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$max_width}));
}


/* General */
body {
	font-family: "Helvetica Neue";
}
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	overflow-x: hidden;
}
.container {
	padding: 0 270/$max_width*100%;
}

.pre-heading {
	font-weight: 500;
	line-height: 120%;
	letter-spacing: 0.11em;
	text-transform: uppercase;
}
.big-text {
	font-weight: 700;
	line-height: 110%;
	letter-spacing: -0.045em;
	color: #23242A;
}
.medium-text {
	font-weight: 500;
	line-height: 110%;
	letter-spacing: -0.03em;
	color: #23242A;
}
.small-text {
	line-height: 120%;
	letter-spacing: -0.01em;
	color: #23242A;
}
.teamlink {
	font-weight: 700;
	line-height: 135%;
	letter-spacing: -0.01em;
	text-decoration: none;
	@include relative-font(21, 18);
	color: #0E6FFF;
	&:hover {
		text-decoration: underline;
	}
}

.slick-list {
	min-width: 100%;
	min-height: 100%;
	overflow: hidden;
}
.slick-track {
	display: flex;
	min-width: 100%;
	min-height: 100%;
}


.logo img{
	max-width: 110px;
	max-height: 28px;
	object-fit: cover;
}
.get_in_touch-btn {
	@include relative-font(30, 20)
	line-height: 120%;
	letter-spacing: -0.03em;
	font-weight: 700;
	color: #fff;
	background: #0E6FFF;
	border-radius: 8px;
	&:hover {
		box-shadow: 0px 1px 7px 1px #000;
	}
}

.reviewer-avatar {
	max-width: 5.8em;
	max-height: 6.1em;
	& img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 50%;
	}
}
.reviewer-info {
	margin-left: 30px;
	@include relative-font(24, 19);
	line-height: 130%;
	& span {
		font-weight: 700;
		@include relative-font(30, 22);
		line-height: 120%;
		letter-spacing: -0.03em;
	}
}


.contact {
	position: fixed;
	display: flex;
	width: 100vw;
	height: 100vh;
	background: rgba(0,0,0,0.6);
	align-items: center;
	justify-content: center;
	padding: 30px;
	z-index: 99;
	visibility: hidden;
	opacity: 0;
	transition: 0.6s ease;
	overflow: scroll;
	&.active {
		visibility: visible;
		opacity: 1;
	}
}
.contact__form {
	display: flex;
	position: absolute;
	flex-flow: column nowrap;
	background: #E4ECF2;
	padding: 70px;
	border-radius: 12px;
	z-index: 100;

}
.form__label {
	@include relative-font(32, 22);
}
.form__input {
	@include relative-font(20, 16);
	box-shadow: inset 0 0 0 100vw rgba(255,201,40,0.4);
	border-radius: 0.2em;
	padding: 25px;
	margin: 15px 0 60px;
	&:focus {
		box-shadow: inset 0 0 0 100vw #fff;
	}
}
.form__button {
	@include relative-font(22, 18);
	align-self: start;
	padding: 0.7em 2.1em;
	line-height: 120%;
	letter-spacing: -0.03em;
	font-weight: 700;
	color: #fff;
	background: #0E6FFF;
	border-radius: 6px;
	box-shadow: 0px 7px 0px 0px #002863;
	transition: 0.4s ease;
	&:hover, &:focus {
		box-shadow: none;
		transform: translateY(7px);
	}
}
.form__close {
	position: absolute;
	display: block;
	right: 70px;
	width: 30px;
	height: 30px;
	&:before {
		content: "";
		position: absolute;
		left: 0;
		top: 50%;
		display: block;
		border: 1px solid #FF4242;
		width: 30px;
		transform: rotate(45deg);
	}
	&:after {
		content: "";
		position: absolute;
		left: 0;
		top: 50%;
		display: block;
		border: 1px solid #FF4242;
		width: 30px;
		transform: rotate(-45deg);
	}
}
#form__text {
	min-width: 40vw;
	height: 30vh;
	resize: none;
}

/****** nav ******/
.nav {
	display: flex;
	width: 100%;
	justify-content: space-between;  
	padding: 42px 42px 132px 42px;
	z-index: 15;
	background: linear-gradient(360deg, #fff 0%, rgba(255, 255, 255, 0) 100%), #FFF4D4;
}
.nav__menu ul{
	display: flex;
}
.nav__menu-item {
	@include relative-font(21,17);
	& a {
		font-weight: 700;
		line-height: 135%;
		color: #D1DCE5;
		transition: 0.3s;
		&:hover {
			color: #0E6FFF
		}
	}
	&:not(&:first-child) {
		margin-left: 2.2em
	}
	.nav__get_in_touch-btn {
		padding: 8px 15px;
		@include relative-font(18,16);
		color: #0E6FFF;
		background: transparent;
		border: 1px solid #FF4242;
		&:hover {
			color: #fff;
			background: #0E6FFF;
			border: 1px solid #0E6FFF;
			box-shadow: none;
		}
	}
}

//burger 
.nav__menu-icon {
	display: none;
}
body.active {
	overflow: hidden;
}
.nav__menu.active {
	transform: translateX(0%);
	background: rgba(35, 36, 42, 0.8);
}
.nav__menu-icon.active {
	&:before {
		top: 50%;
		transform: translateY(-50%) rotate(-45deg);
	}
	&:after {
		bottom: 50%;
		transform: translateY(50%) rotate(45deg)
	}
	& span {
		transform: scale(0);
	}
}

/******* Main *******/

.main {
	display: flex;
	position: relative;
	flex-direction: column;
	min-height: 100%; 
}


/*** section 1 ***/
.section1 .container {
	display: flex;
	position: relative;
	max-height: 100%;
	justify-content: space-between;
	padding-right: 0;
}

.section1__text-block {
	flex: 0 0 43%;
	margin-right: 160/1920*100%;
	/* animation */
	transform: translateY(-150px);
	opacity: 0;
	transition-property: transform , opacity;
	transition: 0.5s 0.2s ease;
	&.active {
		opacity: 1;
		transform: translateY(0px);
	}
}
.section1__pre-heading {
	margin-bottom: 1.6em;
	@include relative-font(26, 21);
	color: #D1DCE5;
	/* animation */
	transform: translateX(-150px);
	opacity: 0;
	transition-property: transform , opacity;
	transition: 0.4s 0.5s ease;
	&.active {
		opacity: 1;
		transform: translateY(0px);
	}
}
.section1__heading {
	@include relative-font(84, 32);
}
.section1__get_in_touch-btn{
	display: inline-block;
	margin: 2.4em 0 7em;
	padding: 0.6em 1.3em;
}
.section1__reviewer {
	display: flex;
	margin-top: 45px;
}
.section1__review-text {
	@include relative-font(44, 28);
}

//section1 slider
.section1__slider.slick-slider {
	display: flex;
	flex: 1 0 0;
	position: relative;
	overflow: hidden;
	.slick-list {
		border-radius: 0px 0px 0px 24px;
	}
	.slick-track {
		position: relative;
		height: 100%;
	}
	.slick-slide.section1__slider-img img {
		display: inline-block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	.slick-arrow {
		font-size: 0;
		padding: 25.5px;
		position: absolute;
		bottom: 30px;
		margin-left: 33px;
		border-radius: 8px;
		z-index: 1;
		opacity: 0.4;
		transition: 0.3s;
		&.slick-prev {
			background: rgb(255,255,255) url('../img/general/left-arrow.svg') center no-repeat;
			&:not(.slick-disabled):hover {
				background: #F19000 url('../img/general/left-arrow.svg') center no-repeat;
				filter: invert(1);
				opacity: 1;
			}
		}
		&.slick-next {
			background: #fff url('../img/general/right-arrow.svg') center no-repeat;
			margin-left: 104px;
			&:not(.slick-disabled):hover {
				background: #F19000 url('../img/general/right-arrow.svg') center no-repeat;
				filter: invert(1);
				opacity: 1;
			}
		}
		&.slick-disabled {
			opacity: 0.2;
			cursor: default;
		}
	}
	.slick-dots {
		display: flex;
		position: absolute;
		min-width: 100%;
		height: 8px;
		top: 0;
		z-index: 1;
		background: #fff;
		& li {
			width: 100%;
			transition: 0.5s;
			&.slick-active {
				background: #FFB19D;
			}
		}
		& button {
			font-size: 0;
		}
	}
}


/*** section 2 ***/
.section2__heading {
	@include relative-font(52, 29);
}
.section2__paragraph {
	@include relative-font(28, 20);
}
.section2__block {
	position: relative;
}
.section2__block-img {
	position: relative;
	border-radius: 12px;
	overflow: hidden;
	&>img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	&>video {
		position: absolute;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

//section2-1
.section2-1 {
	padding-top: 200px;
	& .section2__heading {
		@include relative-font(64, 30);
		margin-bottom: 60px;
	}
	& .section2__block-text {
		display: block;
		margin: 0 0 60px 44%;
	}
	& .section2__block-img {
		transition: transform 0.4s cubic-bezier(0.16, 1, 0.3, 1) 0s;
		&:first-child {
			position: absolute;
			width: 32%;
			height: 50%;
			top: 40%;
			transform: translate(0, -50%);
			&:hover {
				transform: translate(0, -50%) scale(1.1);
				box-shadow: 0px 0px 10px 1.5px #000;
			}
		}
		&:last-child {
			position: relative;
			width: 65%;
			left: 100%;
			transform: translate(-100%, 4%);
			&:hover {
				transform: translate(-100%, 4%) scale(1.13);
				box-shadow: 0px 0px 13px 3px #000;
			}
		}
	}
}

//section2-2
.section2-2 {
	background: linear-gradient(360deg, #FFFFFF -45.04%, rgba(255, 255, 255, 0) 102.87%), #D8F6FF;
	padding-top: 120px;
	& .section2__block {
		padding-bottom: 120px;
	}
	& .section2__block-text {
		flex: 0 1 45%;
		align-self: center;
		order: 1;
		& .section2__paragraph {
			margin: 40px 0 60px;
		}
	}
	& .section2__block-img {
		flex: 0 1 55%;
		height: 55vh;
	}
	& .video_play-btn {
		display: flex;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: calc(67px + 200 * ((100vw - 320px) / 1600));
		height: calc(67px + 200 * ((100vw - 320px) / 1600));
		background: rgba(255,255,255,0.68);
		border-radius: 50%;
		z-index: 1;
		justify-content: center;
		align-items: center;
		transition: transform 0.4s cubic-bezier(0.16, 1, 0.3, 1) 0s;
		& img {
			width: calc(27px + 55 * ((100vw - 320px) / 1600));
			height: calc(23px + 59 * ((100vw - 320px) / 1600));
			object-fit: contain;
		}
		&:hover {
			transform: translate(-50%, -50%) scale(1.05);
		}
	}
	& .video_play-btn.active {
		display: none;
	}
}


/*** section3 ***/
//section3-1
.section3-1 {
	padding-top: 300px;
}
.section3-1__block-text {
	display: flex;
	justify-content: center;
	text-align: center;
}
.section3__pre-heading {
	@include relative-font(23, 18);
}
.section3__heading {
	@include relative-font(64, 30);
	margin-top: 35px;
}

.section3-1__slider-wrapper {
	margin-top: 120px;
	& .container {
		padding-right: 0;
	}
}
.section3__card{
	width: calc(240px + 200 * ((100vw - 320px) / 1600));
	background: #ffffff;
	box-shadow: 10px 10px 50px 3px rgba(39, 92, 141, 0.1);
	border-radius: 12px;
	padding: 50px;
	&:not(&:last-child) {
		margin-right: 30px;
	}
}
.section3-1__slider.slick-slider {
	width: 100%;
	position: relative;
	& .slick-track {
		position: relative;
		height: 100%;
		padding-bottom: 100px;
	}
	& .slick-arrow {
		position: absolute;
		font-size: 0;
		padding: 25.5px;
		bottom: 0;
		left: 0;
		z-index: 1;
		opacity: 0.5;
		transition: 0.2s;
		&.slick-prev {
			background: url('../img/general/left-arrow.svg') center no-repeat;
			&:not(.slick-disabled):hover {
				opacity: 1;
				filter: invert(28%) sepia(93%) saturate(2563%) hue-rotate(209deg) brightness(101%) contrast(101%);
			}
		}
		&.slick-next {
			background: url('../img/general/right-arrow.svg') center no-repeat;
			margin-left: 64px;
			&:not(.slick-disabled):hover {
				opacity: 1;
				filter: invert(28%) sepia(93%) saturate(2563%) hue-rotate(209deg) brightness(101%) contrast(101%);
			}
		}
		&.slick-disabled {
			opacity: 0.3;
			cursor: default;
		}
	}
}
.section3__card-heading {
	@include relative-font(44, 28);
}
.section3__card-paragraph {
	@include relative-font(24, 19);
	line-height: 130%;
	letter-spacing: -0.02em;
	padding: 40px 0 30px;
}
.section3__card-link {
	color: rgba(17, 19, 30, 0.3);
	&:hover {
		color: #0E6FFF;
	}
}

//section3-2 top
.section3-2 {
	margin-top: 200px;
}
.section3-2__top {
	position: relative;
	background: linear-gradient(360deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #FFF4D4;
	margin: 0 100/$max_width*100%;
	border-radius: 40px;
	overflow: hidden;
	& .container {
		padding: 170/$max_width*100%;
		padding-bottom: 0;
	}
	&:after {
		content: "";
		display: block;
		position: absolute;
		width: calc(83px + 244 * ((100vw - 320px) / 1600));
		height: calc(100px + 292 * ((100vw - 320px) / 1600));
		background: url("../img/section3/Bg.svg") center/contain no-repeat;
		right: 0;
		top: 0;
	}
}
.section3-2__top-block-text {
	width: 60%;
}
.section3-2__paragraph {
	margin-top: 50px;
	@include relative-font(28, 20);
}
.section3-2__options {
	display: flex;
	flex-flow: row wrap;
	margin-top: 90px;
}
.section3-2__option {
	display: flex;
	flex: 1 1 50%;
	padding: 25px 25px 25px 0;
}
.section3-2__option-text {
	padding-left: 30px;
}
.section3-2__option-img {
	width: 50px;
	height: 50px;
	& img {
		min-width: 100%;
		min-height: 100%;
		object-fit: cover;
	}
}
.section3-2__option-heading {
	@include relative-font(30, 22);
	font-weight: bold;
	line-height: 120%;
	letter-spacing: -0.03em;
	color: #23242A;
	margin-bottom: 20px;
}
.section3-2__option-paragraph {
	@include relative-font(24, 19);
}

//section3-2 bottom
.section3-2__bottom {
	padding-top: 120px;
}
.section3-2__bottom-text-block {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
}
.section3-2__bottom-link {
	position: relative;
	&:after {
		content: "";
		width: 16px;
		height: 26px;
		background: url("../img/section3/link_arrow.svg") center/contain no-repeat;
		position: absolute;
		right: -35px;
		top: 50%;
		transform: translateY(-50%);
	}
}
.section3-2__bottom-heading {
	@include relative-font(64, 30);
	width: 60%;
}
.section3-2__bottom-cards {
	display: flex;
	position: relative;
	margin-top: 70px;
	& .slick-track {
		position: relative;
		height: 100%;
		padding-bottom: 100px;
	}
	& .section3__card {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	& .slick-arrow {
		position: absolute;
		font-size: 0;
		padding: 25.5px;
		bottom: 0;
		opacity: 0.5;
		transition: 0.2s;
		&.slick-prev {
			left: calc(50% - 55.5px);
			background: url('../img/general/left-arrow.svg') center no-repeat;
			&:hover {
				filter: invert(28%) sepia(93%) saturate(2563%) hue-rotate(209deg) brightness(101%) contrast(101%);
				opacity: 1;
			}
		}
		&.slick-next {
			left: 50%;
			background: url('../img/general/right-arrow.svg') center no-repeat;
			&:hover {
				filter: invert(28%) sepia(93%) saturate(2563%) hue-rotate(209deg) brightness(101%) contrast(101%);
				opacity: 1;
			}
		}
	}
	& .section3__card-link {
		position: relative;
		margin-bot: -20px;
		padding-top: 80px;
		&:before {
			content: "";
			position: absolute;
			display: block;
			width: 100%;
			border: 1px solid #E4ECF2;
			top: 50px;
		}
	}
}


/*** section4 ***/

//section4-1
.section4-1 {
	padding: 200px 0;
}
.section4-1__text-block {
	text-align: center;
}
.section4__heading {
	@include relative-font(64, 30);
}
.section4-1__paragraph {
	@include relative-font(28, 20);
	margin: 50px 0 40px;
}
.section4-1__cards {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}
.section4-1__card {
	flex: 1 1 20%;
	margin-top: 80px;
	&:not(&:last-child) {
		margin-right: 30px;
	}
}
.section4-1__card-visual {
	overflow: hidden;
	border-radius: 12px;
	transition: transform 0.5s cubic-bezier(0.16, 1, 0.3, 1) 0s;
	&:hover {
		transform: scale(1.1);
		box-shadow: 0px 0px 10px 1.5px #000;
	}
	&>img {
		width: 100%;
		height: 100%;
	}
}
.section4-1__card-text {
	margin: 40px 0 0 0;
	text-align: center;
}

//section4-2
.section4-2__review {
	&:not(&:last-child)	{
		margin-bottom: 120px;
	}
}
.section4-2__review-text {
	@include relative-font(44, 28);
}
.section4-2__reviewer {
	display: flex;
	margin-top: 60px;
}


/*** section5 ***/
.section5 {
	& .container {
		padding: 250px 270/$max_width*100%;
	}
}
.section5__content {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: start;
	padding: calc(50px + 55 * ((100vw - 320px) / 1600));
	background: rgba(255, 201, 40, 0.2) url("../img/section5/bg.svg") 100% 0%/auto no-repeat;
	border-radius: 12px;
}
.section5__block-text {
	width: 65%;
}
.section5__heading {
	margin-bottom: 20px;
	@include relative-font(44, 26);
}
.section5__paragraph {
	@include relative-font(24, 16);
}
.section5__get_in_touch-btn {
	display: inline-block;
	padding: 0.6em 1.3em;
	
}


/****** footer *******/
.footer {
	background: #23242A;
}
.footer__topsec {
	& h3 {
		margin-bottom: 50px;
	}
	& .container {
		display: flex;
		justify-content: space-between;
	}
	padding: 100px 0;
	border-bottom: 1px solid rgba(255,255,255,0.2);
}
.footer__brand-text_block>p{
	font-weight: normal;
	font-size: 24px;
	line-height: 130%;
	padding-top: 40px;
}
.footer__block {
	&:not(&:last-child) {
		margin-right: 140/$contained_width*100%;
	}
}
.footer__text {
	font-size: 18px;
	line-height: 135%;
	font-weight: 700;
	letter-spacing: -0.015em;
	color: #FFFFFF;
	opacity: 0.5;
}
.footer__link {
	display: block;
	opacity: 1;
	line-height: 170%;
	transition: 0.3s;
	&:hover {
		color: #0E6FFF;
	}
}
.footer__botsec .container{
	display: flex;
	padding-top: 30px;
	padding-bottom: 30px;
	justify-content: space-between;
	& p{
		font-weight: bold;
		font-size: 18px;
		line-height: 170%;
		letter-spacing: -0.01em;
		color: #FFFFFF;
		opacity: 0.5;
	}
}

@media (max-width: 1023px) {
	/* nav */
	.nav {
		position: fixed;
		padding: 32px;
		background: #FFF4D4;
	}
	.section1 {
		margin-top: 150px;
	}
	.nav__menu {
		position: fixed;
		width: 100%;
		height: 100%;
		top: 89px;
		right: 0;
		text-align: right;
		transform: translateX(100%);
		transition: 0.3s;
		& ul {
			display: inline-block;
			overflow: scroll;
			padding: 50px 50px 90px 35px;
			height: 100%;
			text-align: left;
			background: rgba(35, 36, 42, 1);
		}
	}
	.nav__menu-item {
		font-size: 22px;
		&:not(&:first-child) {
			margin: 40px 0;
		}
		.nav__get_in_touch-btn {
			display: inline-block;
			margin-top: 10px;
			font-size: 18px;
			color: #6fa8fc;
		}
	}
	.nav__menu-icon {
		display: block;
		position: relative;
		cursor: pointer;
		width: 35px;
		height: 25px;
		&:before, &:after, & span {
			position: absolute;
			width: 100%;
			height: 4px;
			left: 0;
			background-color: #23242A;
			transition: 0.3s;
			opacity: 0.8;
		}
		&:before, &:after {
			content: "";
		}
		&:before {
			top: 0;
		}
		&:after {
			bottom: 0;
		}
		& span {
			top: 50%;
			transform: translateY(-50%);
		}
	}


	/* section1 */
	.section1 .container {
		padding: 0 270/$max_width*100% 100px 270/$max_width*100%;
		position: relative;
	}
	.section1__get_in_touch-btn {
		margin: 50px 0 500px;
	}
	.section1__text-block {
		flex: 0 0 100%;
		margin-right: 0;
	}
	.section1__slider.slick-slider {
		position: absolute;
		max-width: 100%;
		max-height: 380px;
		top: 350px;
		left: 0;
		.slick-list {
			border-radius: 0px;
		}
		.slick-arrow {
			bottom: 50%;
			margin: 0 10px -25.5px 10px;
		}
		.slick-arrow.slick-prev {
			left: 0;
			&:not(.slick-disabled):hover {
				background: #fff url('../img/general/left-arrow.svg') center no-repeat;
				filter: none;
				opacity: 0.4;
			}
		}
		.slick-arrow.slick-next {
			right: 0;
			&:not(.slick-disabled):hover {
				background: #fff url('../img/general/right-arrow.svg') center no-repeat;
				filter: none;
				opacity: 0.4;
			}
		}
	}


	/* section2 */
	.section2-1 {
		& .section2__block-text {
			margin: 0;
		}
		& .section2__block-visual {
			position: relative;
			padding-top: 100%;
			margin-top: 40px;
			left: 5%;
		}
		& .section2__block-img {
			transition: all 0.5s cubic-bezier(0.6, 1, 0.3, 1) 0s;
			&:first-child, &:last-child {
				position: absolute;
				width: 100%;
				height: 100%;
				top: 110%;
				left: 0;
				transform: translate(0, -100%);
				z-index: 0;
				&:hover {
					transform: translate(0, -100%) scale(1);
					box-shadow: none;
				}
			}
			&.active {
				z-index: 1;
				left: -10%;
				animation: take_card 0.6s cubic-bezier(0.5, 0, 0.75, 0) 1;
				box-shadow: 2px 1px 12px 4.5px #000;
				&:hover {
					transform: translate(0, -100%) scale(1.03);
					box-shadow: 2px 1px 12px 4.5px #000;
				}
			}
		}
	}
	@keyframes take_card{
		0% {
			left: 100%;
		}
		100% {
			left: 0;
		}
	}


	/*section3 */
	.section3-1__slider-wrapper .container {
		padding-left: 0;
	}
	.section3-1__slider.slick-slider .slick-arrow {
		left: 50%;
		transform: translateX(calc(-50% - 34px));
	}
	.section3-2__top-block-text {
		width: 100%;
	}
	.section3-2__bottom-heading {
		width: 100%;
		margin-bottom: 30px;
	}


	/* section4 */
	.section4-1__card {
		flex: 1 1 45%;
		&:not(&:last-child) {
			margin-right: 0;
		}
		&:not(&:nth-child(even)) {
			margin-right: 30px;
		}
	}

	/* section5 */
	.section5__block-text {
		width: 100%;
	}
	.section5__paragraph {
		max-height: 100px;
		overflow: scroll;
	}
	.section5__get_in_touch-btn {
		margin-top: 30px;
	}

	/* footer */
	.footer .container {
		display: flex;
		flex-wrap: wrap;
	}
	.footer__block {
		flex: 0 0 25%;
		&:not(&:first-child) {
			margin-top: 50px;
			& h3 {
				margin-bottom: 20px;
			}
		}
		&:first-child {
			flex: 0 0 100%;
			margin-bottom: 20px;
		}
	}
}

@media (min-width: 768px) {
	/* section2 */
	.section2-1 {
		/* animation */
		transform: translateY(150px);
		opacity: 0;
		transition-property: transform , opacity;
		transition: 0.5s ease;
		&.active {
			opacity: 1;
			transform: translateY(0px);
		}
	}

	.section2-2 {
		& .section2__block-text {
			margin-top: 0;
		}
		& .section2__block {
			display: flex;
			&:first-child {
				transform: translateX(250px);
				opacity: 0;
				transition-property: transform , opacity;
				transition: 0.5s 0.2s ease;
				&.active {
					opacity: 1;
					transform: translateX(0px);
				}
				& .section2__block-img{
					flex: 1 1 50%;
					margin: 0 8% 0 0;
					order: 0;
				}
			}
			&:last-child {
				transform: translateX(-250px);
				opacity: 0;
				transition-property: transform , opacity;
				transition: 0.5s 0.2s ease;
				&.active {
					opacity: 1;
					transform: translateX(0px);
				}
				& .section2__block-img{
					flex: 1 1 50%;
					margin: 0 0 0 8%;
					order: 2;
				}
			}
		}
	}


	/* section3 */
	.section3-1__slider-wrapper {
		/* animation */
		transform: translateY(-150px);
		opacity: 0;
		transition-property: transform , opacity;
		transition: 0.7s ease 0.2s;
		&.active {
			opacity: 1;
			transform: translateY(0px);
		}
	}

	.section3-2__top {
		/* animation */
		@keyframes buble{
			0% {
				transform: scale(1);
			}
			50%  {
				transform: scale(1.05);
				box-shadow: 0px -40px 150px -70px black;
			}
			100% {
				transform: scale(1);
			}
		}
		&.active {
			animation: buble 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.3s;
		}
	}

	.section3-2__bottom-cards {
		/* animation */
		transform: translateY(-100px);
		opacity: 0;
		transition-property: transform , opacity;
		transition: 0.7s ease 0.2s;
		&.active {
			opacity: 1;
			transform: translateY(0px);
		}
	}


	/* section4 */
	.section4-1 {
		padding: 200px 0;
		/* animation */
		transform: translateY(-150px);
		opacity: 0;
		transition-property: transform , opacity;
		transition: 0.7s ease 0.2s;
		&.active {
			opacity: 1;
			transform: translateY(0px);
		}
	}
	.section4-2 {
		& .container {
			padding: 0 505/$max_width*100%;
			/* animation */
			opacity: 0;
			transition: opacity 0.9s ease 0.1s;
			&.active {
				opacity: 1;
			}
		}
		/* animation */
		background: url("../img/section4/bg1.svg") -50% 50%/auto no-repeat, url("../img/section4/bg2.svg") 150% 50%/auto no-repeat;
		transition: background 0.6s ease 0.4s;
		&.active {
			background: url("../img/section4/bg1.svg") 0 50%/auto no-repeat, url("../img/section4/bg2.svg") 100% 50%/auto no-repeat;
		}
	}

}
@media (max-width: 767px) {
	.section4-1__card {
		flex: 0 0 100%;
		margin: 80px 0 0;
	}
}
@media (max-width: 1024px) and (min-aspect-ratio: 1001/1000) {
	.contact__form {
		top: 0;
	}
}